*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #0027d3;
    color: #fff;
    padding: 10px
    display: flex;
    justify-content: space-between;
    aling-items: center;
}

.navegacao{
    background-color: #23456f;
}

.secao{
    background-color: #44638c;
}
.rodape{
    background-color: #8757d8;
}