*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #0027d3;
}

.navegacao{
    background-color: #23456f;
}

.secao{
    background-color: #44638c;
}
.rodape{
    background-color: #8757d8;
}